<div id="knicks">
<% if @user == current_user %>
  <%= link_to '*Your Profile Needs an Update*', edit_profile_path(@user.user_name) %>
<% end %>
</div>

<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
